# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Build output (frontend)
client/dist/

# Build output (backend)
server/dist/

# System files
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/
